<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patrick.mybatisstarted.mapper.CustomerMapper">
    <select id="findCustomerById" resultType="com.patrick.mybatisstarted.po.Customer" parameterType="Integer">
        select * from tb_customer where id = #{id}
    </select>
</mapper>